<head>
    <title>Bmbool Search: Welcome</title>
    <link rel="stylesheet" type="text/css" href="http://utopianlab.am/publ/bmbool/main.css">
</head>

<body>
    <br /><br /><br /><br /><br /><br />

    <center>
        <div id="logo_wrapper">
            <img src="http://www.utopianlab.am/publ/bmbool/bmbool.png" border="0" alt="logo" />
        </div>
        <br /><br /><br />
        <form action="" method="post">
            <input type="text" name="query">
            <input type="submit" value="search">
        </form>
    </center>

    <div style="position: relative; text-align: center">
          <p style="position: fixed; bottom: 0; width:100%;">bmbool 1.0 - <a href="https://github.com/vgratian/aca_hometasks/bmbool">sourcecode</a> on Github</p>
    </div>
</body>
