body {
        color: #808080;
        font-family: Helvetica, Arial, Verdana, sans-serif;
        font-size: 14px;
        margin-top: .5em;
}

#logo_wrapper img {
  max-width: 30%;
  height: auto;
}

div.absolute {
    position: absolute;
    bottom: 70px;
    width: 200px;
    height: 100px;
    border: 3px solid #8AC007;
}
